# ignore __pycache__
__pycache__
datamaker/__pycache__
datamaker/common/__pycache__

# ignore .pyc files
*.pyc
datamaker/*.pyc
datamaker/common/*.pyc

# ignore unitests
*_unittest.py

# ignore .DS_Store
.DS_Store
datamaker/.DS_Store

# ignore virtual environment
env

# ignore shell scripts
*.sh
