# ignore __pycache__
__pycache__
datamaker/__pycache__
datamaker/common/__pycache__

# ignore .pyc files
*.pyc
datamaker/*.pyc
datamaker/common/*.pyc

# ignore unitests
*_unittest.py

# ignore .DS_Store
.DS_Store
datamaker/.DS_Store

# ignore virtual environment
venv

# ignore shell scripts
*.sh

# ignore .idea
.idea

# ignore build elements
build
datamaker_test_*
dist